* {
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 40px;
  position: relative;
  text-align: center;
}

h1 {
  color: #006699;
  font-family: "Sue Ellen Francisco", monospace;
  letter-spacing: 4px;
  text-transform: uppercase;
}

button,
button:active,
button:focus {
  background-color: #006699;
  border: 2px solid #006699;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 3px;
  padding: 8px;
}

button:hover {
  background-color: #fff;
  color: #006699;
}

#grid {
  margin: 15px auto 30px;
}

.row {
  line-height: 0;
}

.col {
  border: 1px solid #e6e6e6;
  display: inline-block;
}

.shaded-col {
  background-color: #333;
  border: 1px solid #333;
}

footer {
  background-color: #e6e6e6;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #006699;
}
