* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none !important;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #333;
  font: 14px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 40px;
  position: relative;
  text-align: center;
}

h1 {
  color: #006699;
  font-family: "Sue Ellen Francisco", monospace;
  letter-spacing: 4px;
  text-transform: uppercase;
}

button,
button:hover,
button:active,
button:focus {
  background-color: #006699;
  border: 2px solid #006699;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 3px;
  padding: 8px;
}

#modal {
  background-color: rgba(0,0,0,0.75);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 0.3s ease-out;
  background-color: #fff;
  border-radius: 5px;
  margin: 15% auto;
  max-width: 400px;
  width: 70%;
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15%;
  }
}

.modal-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 2px 10px;
  text-align: left;
}

.modal-header h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

.modal-body {
  padding: 25px;
}

.modal-body input {
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  max-width: 50px;
}

.error-message {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  display: none;
  margin: 20px 0;
  padding: 15px 0;
  width: 100%;
}

.modal-footer {
  border-top: 1px solid #e6e6e6;
  padding: 10px;
  text-align: right;
}

.grid {
  margin: 15px auto 30px;
}

.row {
  line-height: 0;
}

.col {
  border: 1px solid #e6e6e6;
  display: inline-block;
}

.shaded-col {
  background-color: #333;
  border: 1px solid #333;
}

footer {
  background-color: #e6e6e6;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #006699;
}
